{#-*- coding: ISO-8859-2 -*-#}

{% load crispy_forms_tags %}

{% block content %}
<div>
    {% if user.is_authenticated %}
        <form action="{{ request.path }}" method="post">
            {% csrf_token %}
            {{ form | crispy}}

            <button type="submit" class="btn btn-success" aria-label="Left Align">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button id="add-comment-close-button" type="button" class="btn btn-danger" aria-label="Left Align">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </form>
    {% else %}
        <p> Brak dostępu !</p>
    {% endif %}
</div>
{% endblock content %}
