{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Homepage</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/posts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>

</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Social News Service</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'category_filter' 1 %}">Świat</a></li>
                <li><a href="{% url 'category_filter' 2 %}">Polska</a></li>
                <li><a href="{% url 'category_filter' 3 %}">Nauka</a></li>
                <li><a href="{% url 'category_filter' 5 %}">Sport</a></li>
                <li><a href="{% url 'category_filter' 6 %}">Technologia</a></li>
                <li><a href="{% url 'category_filter' 7 %}">Rozrywka</a></li>
                <li><a href="{% url 'category_filter' 8 %}">Polityka</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="form-group" style="width: 130px;">
                        <input type="text" class="form-control" id="search" name="search"
                               placeholder="Szukaj kategorii">

                    </div>
                    {% csrf_token %}
                    <ul id="search-results" class="list-group"
                        style="position: absolute; background-color: rgb(248,248,248); text-align: center; width: 130px;">

                    </ul>
                </li>

                {% if user.is_authenticated %}
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                    style="font-size: 120%;">
                                Dodaj
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="{% url 'new_post' %}">Nowy news</a></li>
                                <li><a href="{% url 'new_category' %}">Nowa kategoria</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-default btn-outline btn-circle collapsed" type="button"
                                    id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                    style="font-size: 120%;"><span
                                    class="glyphicon glyphicon-user" aria-hidden="true"
                                    id="dropdownMenu2"></span>
                                {{ user.username }}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><a href="{% url 'profile' %}">Profil</a></li>
                                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}"
                           class="btn btn-default btn-outline btn-circle collapsed">Logowanie</a>
                    </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div style="padding-top: 70px;">
    {% block content %}
    {% endblock content %}
</div>

</body>
</html>


