{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="row affix-row">
        <div class="col-sm-3 col-md-2 affix-sidebar">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">Sidebar menu</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <ul class="nav navbar-nav" id="sidenav01">
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#toggleDemo2"
                                   data-parent="#sidenav01"
                                   class="collapsed">
                                    <span class="glyphicon glyphicon-inbox"></span> Moje kategorie
                                </a>
                                <div class="collapse" id="toggleDemo2" style="height: 0px;">
                                    <ul class="nav nav-list">
                                        {#                                        {% block profile_categories %}#}
                                        {#                                        {% endblock %}#}
                                        {% for category in categories %}
                                            <li>
                                                <a href="{% url 'my_categories' category.id %}">{{ category.category_name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01"
                                   class="collapsed">
                                    <span class="glyphicon glyphicon-heart"></span> Ulubione kategorie
                                </a>
                                <div class="collapse" id="toggleDemo" style="height: 0px;">
                                    <ul class="nav nav-list">
                                        {#                                        {% block profile_fav_categories %}#}
                                        {#                                        {% endblock %}#}
                                        {% for category in fav_categories %}
                                            <li>
                                                <a href="{% url 'my_categories' category.id %}">{{ category.category_name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            <li><a href="{% url 'my_comments' %}"><span class="glyphicon glyphicon-lock"></span> Moje komentarze </a></li>
                            <li><a href="{% url 'my_posts' %}"><span class="glyphicon glyphicon-calendar"></span> Moje posty <span
                                    class="badge pull-right" style="margin-left: 5px;"> {{ posts.count }}</span></a></li>
                            <li><a href="{%  url 'my_settings' %}"><span class="glyphicon glyphicon-cog"></span> Ustawienia</a></li>
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"></span> Wyloguj</a>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-10 affix-content">
            <div class="container">

                {% block profile_content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}