{% extends "base.html" %}

{% block content %}

    {% for post in posts %}

        <div class="media" style="margin: 15px; background-color: rgb(248,248,248); padding: 5px;">
            <div class="media-left media-middle" style="font-size: 17px; ">

                <a href="{% url 'upvote_news' post.id %}"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true" style="color: green"/></a>
                <span> {{ post.votes }}</span>
                <a href="{% url 'downvote_news' post.id %}"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="color: red"/></a>
            </div>
            <div class="media-left media-top">
                <a href="#">
                    <img src="{{ post.picture.url }}" height="70px">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ post.title }}</h4>
                {{ post.body }}
            </div>

        </div>
    {% empty %}
        <span class="list-group-item">No posts available.</span>
    {% endfor %}

{% endblock content %}