{% extends "base.html" %}
{% load static %}
{% block content %}
    {#    <script type="text/javascript" src="{% static 'js/posts.js' %}"></script>#}

    {% if category.description|length > 0 %}

        <div style="background-color: rgb(248,248,248);text-align: center;">

            <h3 class="panel-heading" style="display: inline-block">{{ category.description }}</h3>
            <a href="{% url 'add_to_favorites' category.id %}"> <h2 id="menu-toggle" style="display: inline-block;"><span href="{% url 'login' %}" class="glyphicon glyphicon-star-empty"
                                                                      aria-hidden="true"></span></h2></a>
        </div>
        <script>
            $('#menu-toggle').click(function () {
                $(this).find('span').toggleClass('glyphicon glyphicon-star').toggleClass('glyphicon glyphicon-star-empty');
            });
        </script>
    {% endif %}


    {% for post in posts %}
        <div class="media" style="margin: 15px; background-color: rgb(248,248,248); padding: 5px;">
            <div class="media-left media-middle" style="font-size: 17px; ">

                <a href="{% url 'upvote_news' post.id %}"><span class="glyphicon glyphicon-chevron-up"
                                                                aria-hidden="true" style="color: green"/></a>
                <span><b>{{ post.votes }}</b></span>
                <a href="{% url 'downvote_news' post.id %}"><span class="glyphicon glyphicon-chevron-down"
                                                                  aria-hidden="true" style="color: red"/></a>
            </div>
            <div class="media-left media-top">
                <a href="#">
                    <img src="{{ post.picture.url }}" height="70px">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ post.title }}</h4>
                {{ post.body }}
            </div>

{% comment %}            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#p{{ post.id }}"
               aria-expanded="false" aria-controls="collapseExample" style="margin-left: 110px">
                komentarze: {{ post.comments_number }}
            </a>{% endcomment %}
            <div class="comments" id="p{{ post.id }}">
                <div class="pull-right">
                    <button class="{% if post.comments_number > 0 %}show-comments{% endif %} btn btn-info btn-xs">komentarze: {{ post.comments_number }}</button>
                    <button class="add-comment btn btn-info btn-xs">odpowiedz</button>
                    <button class="btn btn-warning btn-xs">zgłoś</button>
                </div>
                <div style="clear: both; margin-bottom: 20px"></div>
                <div class="comments-container"></div>
            </div>
        </div>
    {% empty %}
        <span class="list-group-item">Nie ma zadnych newsow.</span>
    {% endfor %}


{% endblock content %}